<div class="body">
  <div class="container">
  	<p id="notice"></p>
  	<p>You have creatad book successfully.</p>
  	<%= render 'users/list' %>
  	  <div class="col-xs-9">
  	  	<h2>Book detail</h2>
        <table class="table table-hover table-inverse">
  	  		<thead></thead>
          <tbody>
            <tr>
                  <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
                    <%= link_to user_path( @book_detail.user.id) do %>
                    <%= @book_detail.user.name  %>
                    <%end%>
                  </td>
                  <td><%= @book_detail.title %></td>
          	  		<td><%= @book_detail.body %></td>
                    <% if  @book_detail.user == current_user %>
                    <td class="">
                      <%= link_to 'Edit', edit_book_path(params[:id]), class: "btn btn-success"%>
                    </td>
                    <td class="">
                    <%= link_to 'Destroy', @book_detail, method: :delete, data: { confirm: '削除？'},class: "btn btn-danger" %>

                  </td>
                  <% end %>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
   <!--  </ul> -->